---
import Layout from '@layouts/Layout.astro';
import Intro from '@components/Intro.astro';
import ProjectCard from '@components/ProjectCard.astro';
import Contact from '@components/Contact.astro';
import { getCollection } from 'astro:content';

const projects = await getCollection('projects');
---

<Layout>
	<main class="h-screen snap-y snap-mandatory overflow-y-scroll">
		<!-- ========== PAGE 1 ========== -->
		<section class="grid h-screen snap-start grid-cols-3">
			<Intro />
			<ProjectCard project={projects[0]} />
			<ProjectCard project={projects[1]} />
		</section>

		<!-- ========== PAGE 2 ========== -->
		<section class="grid h-screen snap-start grid-cols-3">
			<ProjectCard project={projects[2]} />
			<ProjectCard project={projects[3]} />
			<ProjectCard project={projects[4]} />
		</section>

		<!-- ========== PAGE 3 ========== -->
		<section class="grid h-screen snap-start grid-cols-3">
			<ProjectCard project={projects[5]} />
			<ProjectCard project={projects[6]} />
			<Contact />
		</section>
	</main>
</Layout>
