---
import Card from '@components/ui/Card.astro';
import { getCollection } from 'astro:content';

const { project } = Astro.props;
if (!project) return null;

const projects = await getCollection('projects', ({ data }) => {
	return !data.inProgress;
});
---

<section data-testid="projects" id="projects" class="mb-16">
	<!-- ⚠️ 工程站：不要大标题，不要装饰线 -->
	<div class="grid w-full grid-cols-1 gap-8 md:grid-cols-2">
		{
			projects.map((project) => (
				<Card
					url={project.data.link}
					title={project.data.title}
					description={project.data.description}
					alt={project.data.img_alt}
					tags={project.data.tags}
				/>
			))
		}
	</div>
</section>
